<br>
<br>
<hr>
<h3>Reactive form</h3>
<div>
  <form [formGroup]="myForm" (ngSubmit)="actionSubmit()">
    <div>
      <input type="text" name="name" formControlName="userName" placeholder="Name">
    </div>
    <div>
      <input type="text" name="email" formControlName="userEmail" placeholder="email">
    </div>
    <div formArrayName="phones">
      <div *ngFor="let phone of myForm.controls['phones']['controls']; let i = index">
        <label for="phone-{{i}}">Телефон</label>
        <input id="phone-{{i}}" formControlName="{{i}}" />
      </div>
    </div>
    <div>
      <button (click)="addMorePhoneNumber()">Add more phone number</button>
    </div>
    <button [disabled]="!myForm.valid" (submit)="actionSubmit()">Ok</button>
  </form>
</div>
