<br>
<br>
<hr>
<h3>HTTP клиент</h3>
<div>
  <button (click)="getUsers()">Получить юзеров</button>
  <ul>
    <li *ngFor="let user of users">
      {{user.name}} - {{user.age}}
    </li>
  </ul>
</div>
<div>
  <div>
    <label>
      Запиши через запятую цифры для суммирования
      <input type="text" [(ngModel)]="toSum">
    </label>
    <button (click)="getSum()">Посчитать</button>
  </div>
  <div>
    <label>
      Сумма:
      <input type="text" disabled value="{{sumResult}}">
    </label>
  </div>

</div>
