<!--<div>-->
<!--  &lt;!&ndash; start 1&ndash;&gt;-->
<!--  <app-hello-form><p style="text-align: center">Важная форма!11</p></app-hello-form>-->
<!--  &lt;!&ndash; start 2&ndash;&gt;-->
<!--  <app-child-comp-->
<!--    [userName]="userName"-->
<!--    [userAge]="useAge"-->
<!--  >-->
<!--    <label>-->
<!--      Age:-->
<!--      <input type="text" [(ngModel)]="useAge">-->
<!--    </label>-->
<!--  </app-child-comp>-->
<!--  &lt;!&ndash; start 3&ndash;&gt;-->
<!--  <app-child-outher-comp-->
<!--    [(price)]="price"-->
<!--    (changedClicks)="changedClicksParent($event)"-->
<!--  >-->
<!--    <p>Clicks - {{clicks}}</p>-->
<!--    <p>Price - {{price}}</p>-->
<!--  </app-child-outher-comp>-->
<!--  <br>-->
<!--  <fieldset><legend>Родительский блок с доступом к шаблонной переменной с дочернего</legend>-->
<!--    <button (click)="increment()">+</button>-->
<!--    <button (click)="decrement()">-</button>-->
<!--  </fieldset>-->
<!--</div>-->

<!--<app-data-component></app-data-component>-->

<!--<app-structures-directive></app-structures-directive>-->

<!--<app-component-with-service></app-component-with-service>-->

<!--<app-work-with-forms></app-work-with-forms>-->

<!--<app-work-with-ngform></app-work-with-ngform>-->

<!--<app-reactive-form></app-reactive-form>-->

<!--<app-http-request></app-http-request>-->

<div>
  <nav>
    <ul>
      <li><button (click)="goHome()">MAIN</button></li>
      <li><a routerLink="/hello" routerLinkActive="active">hello</a></li>
      <li><a routerLink="/data" routerLinkActive="active">data</a></li>
      <li><a routerLink="/structures" routerLinkActive="active">structures</a></li>
      <li><a routerLink="/component-with-service" routerLinkActive="active">component-with-service</a></li>
      <li><a routerLink="/forms" routerLinkActive="active">forms</a></li>
      <li><a routerLink="/forms-ng" routerLinkActive="active">forms-ng</a></li>
      <li><a routerLink="/reactive-forms" routerLinkActive="active">active-forms</a></li>
      <li><a routerLink="/http-req" routerLinkActive="active">http-req</a></li>
      <li><a [routerLink]="['item', '6']" routerLinkActive="active">test pass params in route 6</a></li>
      <li><a
        [routerLink]="['item', '5']"
        routerLinkActive="active"
        [queryParams]="{'product':'phone', 'price': 200}"
      >test pass params in route 5</a></li>
    </ul>
  </nav>

</div>

<hr>

<div>
    <h3>Параметры продукта</h3>
    <input type="text" [(ngModel)]="product.id" placeholder="ID">
    <br>
    <input type="text" [(ngModel)]="product.title" placeholder="Продукт">
    <br>
    <input type="number" [(ngModel)]="product.price" placeholder="Цена">
    <br>
    <button (click)="goToItem()">Перейти</button>
</div>

<router-outlet></router-outlet>
