<div>
  <app-hello-form><p style="text-align: center">Важная форма!11</p></app-hello-form>

  <app-child-comp
    [userName]="userName"
    [userAge]="useAge"
  >
    <label>
      Age:
      <input type="text" [(ngModel)]="useAge">
    </label>
  </app-child-comp>

  <app-child-outher-comp
    [price]="price"
    (changedClicks)="changedClicksParent($event)"
    (priceChangeChildrenEvent)="changePrice($event)"
  >
    <p>Clicks - {{clicks}}</p>
    <p>Price - {{price}}</p>
  </app-child-outher-comp>
</div>

<router-outlet></router-outlet>
