<div>
  <!-- start 1-->
  <app-hello-form><p style="text-align: center">Важная форма!11</p></app-hello-form>
  <!-- start 2-->
  <app-child-comp
    [userName]="userName"
    [userAge]="useAge"
  >
    <label>
      Age:
      <input type="text" [(ngModel)]="useAge">
    </label>
  </app-child-comp>
  <!-- start 3-->
  <app-child-outher-comp
    [(price)]="price"
    (changedClicks)="changedClicksParent($event)"
  >
    <p>Clicks - {{clicks}}</p>
    <p>Price - {{price}}</p>
  </app-child-outher-comp>
  <br>
  <fieldset><legend>Родительский блок с доступом к шаблонной переменной с дочернего</legend>
    <button (click)="increment()">+</button>
    <button (click)="decrement()">-</button>
  </fieldset>
</div>

<app-data-component></app-data-component>

<app-structures-directive></app-structures-directive>

<app-component-with-service></app-component-with-service>

<app-work-with-forms></app-work-with-forms>

<app-work-with-ngform></app-work-with-ngform>

<app-reactive-form></app-reactive-form>

<router-outlet></router-outlet>
