<hr>
<h3>Передача св-в c дочернего в родительский компонент</h3>
<hr>
<div>
  <fieldset><legend>Родительский блок</legend>
    <ng-content></ng-content>
  </fieldset>
  <fieldset><legend>Дочерний блок</legend>
    <button (click)="clickToIncrease(true)">+</button>
    <button (click)="clickToIncrease(false)">-</button>
    <br>
    <label>
      Price from parent can be changed in children
      <input
        [ngModel]="price"
        (ngModelChange)="changePriceChildren($event)"
      >
    </label>
  </fieldset>
  <br>
  <hr>
  <br>
  <fieldset><legend>Блок с шаблонной переменой</legend>
    <p #someTemplate>{{labelTemplate}}</p>
    <p>Взято через textContent шаблона - {{someTemplate.textContent}}</p>
    <label>
      Меняем шаблонную переменную
      <input type="text" [(ngModel)]="labelTemplate" value="{{labelTemplate}}">
    </label>
  </fieldset>

  <fieldset><legend>Дочеорний блок с шаблонной переменной</legend>
    <div>
      <p #counterTemplate>{{counter}}</p>
    </div>
  </fieldset>
</div>
